---

import '../../styles/global.css';
const title= "IO Forge- Data Analytics, Enterprise Resource Planning, and Web Platforms";
const description="Enterprise resource planning, data analytics, and web platforms with machine learning and automation using software as a service.";
const url="https://ioforge.us";
const image="./logo.svg";
---

<head>
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 

  <!-- Hamburger Menu Icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/nlogo4_lg2.webp" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>{title}</title>
  
  

  <!-- Primary Meta Tags -->
<meta name="title" content={title} />
<meta name="description" content={description}/>
<link rel="canonical" href={url}/>

<!-- Generator -->
<meta name="generator" content={Astro.generator} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<!-- <meta property="og:image" content={image} /> -->

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<!-- <meta property="twitter:image" content={image} /> -->



</head>
